.entreno {
  padding: 40px 20px;
}

.entreno-void {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  text-align: center;

  h3{
    color: var(--ion-color-tertiary-tint);
  }
}
