<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button color="medium" (click)="closeModal()">Cancelar</ion-button>
    </ion-buttons>

    <!-- <ion-title>Añadir nueva clase</ion-title> -->

    <ion-buttons slot="end">
      <ion-button (click)="storeClaseRequest()" [strong]="true">Crear clase</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <!-- Día y hora -->
  <!-- <ion-item>
    <ion-input value="{{ date | date: 'dd/MM/yyyy' }}" id="date" [readonly]="true"></ion-input>
    <ion-popover trigger="date" size="cover">

      <ng-template>
        <ion-datetime
          presentation="date"
          displayFormat="DD/MM/YYYY"
          locale="es-ES"
          [(ngModel)]="date"
          [firstDayOfWeek]="1"></ion-datetime>
      </ng-template>

    </ion-popover>
  </ion-item> -->

  <!-- minuteValues="0,15,30,45" -->
  <!-- min="2000-01-01" -->
  <div class="datetime">
    <ion-datetime
    displayFormat="DD/MM/YYYY"
    minuteValues="0,15,30,45"
    max="2050-12-31"
    locale="es-ES"
    [(ngModel)]="date"
    [firstDayOfWeek]="1"
    ></ion-datetime>
  </div>

  <form [formGroup]="claseForm">
  <!-- Monitor -->
  <ion-item>
    <ion-select formControlName="monitor_id" label="Monitor" placeholder="Selecciona un monitor">
      <div slot="label">Favorite Fruit <ion-text color="danger">(Required)</ion-text></div>
      <ion-select-option
        *ngFor="let monitor of monitores"
        [value]="monitor.id">{{ monitor.name }}</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- Validación monitor -->
  <!-- <ion-note color="danger" *ngIf="claseForm.controls['monitor_id'].invalid && claseForm.controls['monitor_id'].touched">
    La definición de entreno es requerida.
  </ion-note> -->

  <!-- Entreno -->
  <ion-item>
    <ion-select formControlName="entreno_id" label="Entreno">
      <ion-select-option
        *ngFor="let entreno of entrenos"
        [value]="entreno.id">{{ entreno.denominacion }}</ion-select-option>
    </ion-select>
  </ion-item>

    <!-- Vacantes -->
    <ion-item lines="none">
      <ion-input label="Plazas" type="number" inputmode="numeric"
        formControlName="vacantes"
        [errorText]="
        claseForm.get('vacantes')?.errors?.['required']
          ? 'El número de plazas es requerido.'
          : claseForm.get('vacantes')?.errors?.['min']
            ? 'Debe tener al menos una plaza.'
            : claseForm.get('vacantes')?.errors?.['max']
              ? 'No puede tener más de 50 plazas.'
              : ''"
      ></ion-input>
    </ion-item>
  </form>

  <!-- Button -->
  <!-- <ion-button (click)="storeClaseRequest()" expand="block">Crear clase</ion-button> -->

</ion-content>
