.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;

  ion-card {
    width: 100%;
    margin: 10px;

    ion-card-content {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;

  ion-icon {
    font-size: 80px;
    color: var(--ion-color-primary);
  }
}

ion-card-title {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

ion-card-subtitle {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

ion-button {
  margin: 0 15px 15px 15px;
}

.sub-activa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;

  h3{
    color: var(--ion-color-tertiary-tint);
  }
}
