<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" default-href="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Pagos</ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pagos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="main">

    <!-- Suscripción activa -->
    <ion-card *ngIf="user.suscripcion && !compareDate(user.suscripcion) && user.role !== 'admin' && user.role !== 'coach'">
      <ion-card-header>
        <ion-card-title>{{ user.suscripcion | date: 'dd/MM/yyyy' }}</ion-card-title>
        <ion-card-subtitle>SUSCRIPCIÓN ACTIVA HASTA EL</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <!-- Suscripcion activa Admin/Coach -->
    <ion-card *ngIf="user.role === 'admin' || user.role === 'coach'">
      <ion-card-header>
        <ion-card-title>Cross Performance</ion-card-title>
        <ion-card-subtitle>SUSCRIPCIÓN ILIMITADA ACTIVA</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <div *ngIf="user.suscripcion && !compareDate(user.suscripcion) || user.role === 'admin' || user.role === 'coach'" class="sub-activa">
      <h1>¡Hora de entrenar!</h1>
      <h3>Reserva tu clase ahora</h3>
    </div>

    <!-- Suscripción caducada -->
    <ion-card *ngIf="user.suscripcion && compareDate(user.suscripcion) && user.role !== 'admin' && user.role !== 'coach'">
      <ion-card-header>
        <ion-card-title>{{ user.suscripcion | date: 'dd/MM/yyyy' }}</ion-card-title>
        <ion-card-subtitle>SUSCRIPCIÓN CADUCADA EL</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

  </div>

  <div class="main" *ngIf="user.role !== 'admin' && user.role !== 'coach'">

    <!-- Suscripciones -->
    <ion-card *ngIf="!user.suscripcion || compareDate(user.suscripcion)">
      <ion-card-header>
        <ion-card-title>40€</ion-card-title>
        <ion-card-subtitle>MENSUAL</ion-card-subtitle>
      </ion-card-header>

      <ion-button [disabled]="user.suscripcion && !compareDate(user.suscripcion)" (click)="paymentSheet(40, 'Cuota mensual')" expand="block">Suscribirse</ion-button>
    </ion-card>

    <ion-card *ngIf="!user.suscripcion || compareDate(user.suscripcion)">
      <ion-card-header>
        <ion-card-title>108€</ion-card-title>
        <ion-card-subtitle>TRIMESTRAL</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-chip class="entreno" color="tertiary">
          <ion-label>36€/Mes</ion-label>
        </ion-chip>
      </ion-card-content>

      <ion-button [disabled]="user.suscripcion && !compareDate(user.suscripcion)" (click)="paymentSheet(108, 'Cuota trimestral')" expand="block">Suscribirse</ion-button>
    </ion-card>

    <ion-card *ngIf="!user.suscripcion || compareDate(user.suscripcion)">
      <ion-card-header>
        <ion-card-title>384€</ion-card-title>
        <ion-card-subtitle>ANUAL</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-chip class="entreno" color="tertiary">
          <ion-label>32€/Mes</ion-label>
        </ion-chip>
      </ion-card-content>

      <ion-button [disabled]="user.suscripcion && !compareDate(user.suscripcion)" (click)="paymentSheet(384, 'Cuota anual')" expand="block">Suscribirse</ion-button>
    </ion-card>

  </div>

</ion-content>
