.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  padding: 0 16px;

  ion-card {
    width: 100%;
  }
}

.logo {
  display: flex;
  justify-content: center;

  ion-icon {
    font-size: 80px;
  }
}

ion-avatar {
  --border-radius: 8px;
  width: 100px;
  height: 100px;
}
