<ion-header [translucent]="true">
  <ion-toolbar>

    <!-- <ion-buttons slot="start">
      <ion-button color="danger" (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons> -->

    <ion-title>{{ clase.entreno.denominacion }}</ion-title>

    <ion-buttons slot="end" *ngIf="roleUser === 'admin' || roleUser === 'coach'">
      <ion-button color="danger" (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <h1>{{ clase.entreno.denominacion }}</h1>

  <p class="denominacion">{{ clase.entreno.entreno }}</p>

  <!-- <ion-button *ngIf="roleUser === 'admin' || roleUser === 'coach'" (click)="deleteEntrenoToClaseRequest()" expand="block" color="danger" >
    Eliminar entreno
  </ion-button> -->

</ion-content>
