.admin {
  border: 2px green solid;
}
.coach {
  border: 2px red solid;
}
.admin {
  border: 2px black solid;
}

ion-list{
  margin-bottom: 30px;
}

.search-void {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  text-align: center;

  h3{
    color: var(--ion-color-tertiary-tint);
  }
}

.selector {
  padding: 16px;
}
