<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>Cross Performance</ion-title>
    <ion-progress-bar color="primary" *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cross Performance</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="main">
    <div class="logo">
      <!-- <ion-icon name="barbell"> <img src="assets/icon/dumbbell-icon.svg" alt="" srcset=""></ion-icon> -->
      <img class="icon" src="assets/icon/dumbbell-icon.svg" alt="" srcset="">
    </div>

    <!-- Login -->

      <form [formGroup]="loginForm" (ngSubmit)="submitForm()" method="post">

          <ion-item lines="none">
            <ion-input
              formControlName="email"
              label="Email"
              [clearInput]="true"
              inputmode="email"
              autocomplete="email"
              spellcheck="true"
              type="email"
              placeholder="email@gmail.com"
              [errorText]="
                loginForm.get('email')?.errors?.['required']
                  ? 'El email es requerido.'
                  : loginForm.get('email')?.errors?.['email']
                    ? 'El email no es válido.'
                    : ''"
            ></ion-input>
          </ion-item>
          <!-- <div *ngIf="loginForm.get('email')!.touched && loginForm.get('email')!.invalid">
            <ion-text color="danger" *ngIf="loginForm.get('email')?.errors?.['required']">
              El email es requerido.
            </ion-text>
            <ion-text color="danger" *ngIf="loginForm.get('email')?.errors?.['email']">
              El email no es válido.
            </ion-text>
          </div> -->

          <ion-item lines="none">
            <ion-input
              formControlName="password"
              label="Contraseña"
              type="password"
              placeholder="contraseña"
              [errorText]="
                loginForm.get('password')?.errors?.['required']
                  ? 'El contraseña es requerido.'
                  : loginForm.get('password')?.errors?.['minlength']
                    ? 'La contraseña debe tener al menos 6 caracteres.'
                    : ''"
              ><ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>
          <!-- <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
            <ion-text color="danger" *ngIf="loginForm.get('password')?.errors?.['required']">
              La contraseña es requerida.
            </ion-text>
            <ion-text color="danger" *ngIf="loginForm.get('password')?.errors?.['minlength']">
              La contraseña debe tener al menos 6 caracteres.
            </ion-text>
          </div> -->

        <ion-button
        type="submit"
        fill="clear"
        color="dark"
        size="large">
          <ion-icon color="primary" name="log-in"></ion-icon>
        </ion-button>
        <ion-button
        type="button"
        fill="clear"
        color="dark"
        size="large"
        routerLink="/register">
          <ion-icon color="primary" name="person-add"></ion-icon>
        </ion-button>

      </form>

  </div>

</ion-content>
