.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  margin-top: 150px;

  ion-card {
    width: 100%;
  }
}

.logo {
  display: flex;
  justify-content: center;

  ion-icon {
    font-size: 80px;
    color: var(--ion-color-primary);
  }
}
