<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button color="medium" (click)="closeModal()">Cancelar</ion-button>
    </ion-buttons>

    <!-- <ion-title>hola</ion-title> -->

    <ion-buttons slot="end">
      <ion-button (click)="storeEntrenoRequest()" [strong]="true">Crear entreno</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Entreno -->
  <ion-item lines="none">
    <ion-input [(ngModel)]="denominacion" label="Título" type="text"></ion-input>
  </ion-item>

  <!-- Entreno -->
  <!-- <ion-item lines="none">
    <ion-textarea [(ngModel)]="entreno" label="Entreno" [autoGrow]="true"></ion-textarea>
  </ion-item> -->

  <ckeditor [editor]="Editor" [(ngModel)]="entreno"></ckeditor>

  <!-- Button -->
  <!-- <ion-button (click)="storeEntrenoRequest()" expand="block">Crear entreno</ion-button> -->

</ion-content>
