<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button color="medium" (click)="closeModal()">Cancelar</ion-button>
    </ion-buttons>

    <!-- <ion-title>hola</ion-title> -->

    <ion-buttons slot="end">
      <ion-button (click)="storeEntrenoRequest()" [strong]="true">Crear entreno</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="entrenoForm">
    <!-- Entreno -->
    <ion-item lines="none">
      <ion-input label="Título" type="text"
        formControlName="denominacion"
        placeholder="título del entreno"
        [errorText]="
        entrenoForm.get('denominacion')?.errors?.['required']
          ? 'El título es requerido.'
          : entrenoForm.get('denominacion')?.errors?.['maxlength']
            ? 'El título no puede tener más de 15 caracteres.'
            : ''"
      ></ion-input>
    </ion-item>

    <!-- Entreno -->
    <!-- <ion-item lines="none">
      <ion-textarea [(ngModel)]="entreno" label="Entreno" [autoGrow]="true"></ion-textarea>
    </ion-item> -->

    <ckeditor formControlName="entreno" [editor]="Editor"></ckeditor>
    <ion-note color="danger" *ngIf="entrenoForm.controls['entreno'].invalid && entrenoForm.controls['entreno'].touched">
      La definición de entreno es requerida.
    </ion-note>
  </form>

  <!-- Button -->
  <!-- <ion-button (click)="storeEntrenoRequest()" expand="block">Crear entreno</ion-button> -->

</ion-content>
