<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ entreno.denominacion }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Cerrar</ion-button>
    </ion-buttons>
    <ion-progress-bar color="primary" *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ entreno.denominacion }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="main">

    <!-- Entreno -->
    {{ entreno.entreno }}

  </div>

</ion-content>
