ion-card-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ion-thumbnail {
  --size: 70px;
  --border-radius: 10px;
}

.monitor {
  --size: 40px;
  --border-radius: 8px;
}

.hora {
  font-size: 1.4rem;
  color: black;
}

.entreno {
  font-size: 0.8rem;
}
