ion-card-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.last-card {
  margin-bottom: 120px;
}

.rest-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;

  h3{
    color: var(--ion-color-tertiary-tint);
  }
}

ion-thumbnail {
  --size: 70px;
  --border-radius: 10px;
}

.monitor {
  --size: 40px;
  --border-radius: 8px;
}

.hora {
  font-size: 1.4rem;
}

.entreno {
  font-size: 0.8rem;
}

.vacantes {
  background-color: var(--ion-color-tertiary-tint);
}

ion-datetime {
  background-color: white;
}

.datetime {
  display: flex;
  justify-content: center;
}

ion-popover {
  --width: 350px;
  --margin: 0 auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
